*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.full {
  width: 100%;
}

.content {
  width: 900px;
  margin: 0 auto;
}

.header {
  padding: 30px 0 150px;
  background: #2c3e50;
  text-align: center;
  color: #eee;
}

.header h2 {
  font-weight: 400;
  padding: 0 150px;
  font-size: 20px;
}

.header-social {
  float: left;
}

.header-social ul {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

.header-social li {
  float: left;
  padding: 0 20px;
}

.header-social li a:hover {
  text-decoration: underline;
}

.main {
  margin-top: -80px;
}

.avatar {
  float: left;
}

.avatar a {
  float: left;
}

.avatar img {
  width: 150px;
  border-radius: 50%;
  margin-left: 373px;
  display: block;
}

.post {
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
  border-radius: 2px;
  padding: 30px 50px;
  float: left;
  color: #444;
}

.post h1 {
  margin: 0
}

.post-content a {
  color: #27ae60;
}

.post a:hover {
  text-decoration: underline;
}

.post-header {
  text-align: center;
}

.post-header h1 {
  font-size: 40px;
  color: #444;
}

.post-meta {
  font-style: italic;
  font-size: 14px;
  margin-top: 10px;
  color: #999;
}

a.post-meta-author {
  color: #27ae60;
}

.read-more {
  float: right;
  color: #2c3e50;
  border: 1px solid #2c3e50;
  padding: 10px 20px;
  border-radius: 10px;
}

a.read-more:hover {
  background: #2c3e50;
  color: #fff;
  text-decoration: none;
}

.footer {
  float: left;
  text-align: center;
  padding: 50px 0;
  color: #2c3e50;
}

.single .post-footer {
  border-top: 1px solid #eee;
  margin: 100px 0 50px;
}

.post-author {
  padding: 50px 0;
  float: left;
  border-bottom: 1px solid #eee;
  margin-bottom: 50px;
}

.post-author__pic {
  float: left;
}

.post-author__pic img {
  width: 80px;
  border-radius: 50%;
}

.post-author__desc {
  padding: 0 0 0 20px;
  float: left;
}

.post-author__desc h3 {
  margin: 0;
}



.code-block, .article-entry pre, .article-entry .highlight {
  background: #2d2d2d;
  margin: 0;
  padding: 20px 10px;
  border-style: solid;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 27.2px; }

.line-numbers, .article-entry .highlight .gutter pre {
  color: #666;
  font-size: 0.9rem; }

.article-entry pre, .article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, monospace; }

.article-entry code {
  background: rgba(0, 0, 0, 0.07);
  padding: 0 2px;
  border-radius: 2px; }

.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0; }

.article-entry blockquote {
  color: #aaa;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0 0 30px;
  border-left: 4px solid #aaa; }
  .article-entry blockquote p {
    margin: 0; }

.article-entry table {
  margin: 15px 0;
  border-collapse: collapse; }
  .article-entry table tr {
    border-top: 1px solid #ccc;
    background-color: #fff; }
  .article-entry table th, .article-entry table td {
    border: 1px solid #ddd;
    padding: 6px 13px; }

.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0; }

.article-entry .highlight table {
  margin: 0;
  width: auto; }

.article-entry .highlight td {
  border: none;
  padding: 0; }

.article-entry .highlight tr {
  border: 0; }

.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em; }
  .article-entry .highlight figcaption a {
    float: right; }

.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px; }

.article-entry .highlight .line {
  height: 27.2px; }

pre .comment,
pre .title {
  color: #999; }

pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag, pre .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a; }

pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157; }

pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #99cc99; }

pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #99cc99; }

pre .css .hexcolor {
  color: #66cccc; }

pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #6699cc; }

pre .keyword,
pre .javascript .function {
  color: #cc99cc; }

.back-to-home {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  padding: 8px 12px;
  background-color: #5badf0;
  color: #fff;
  text-align: center;
  font-size: .9rem; }
