extends layout

block content
  header.h
    a(href="/", title="Fernando Porazzi")
      img(src="../img/perfil.jpg", alt="Fernando Porazzi", class="p")
      h1 Fernando Porazzi
    .s
      a(href="https://github.com/fernandoporazzi", title="Github - Fernando Porazzi")
        i.i &#xf308;

      a(href="https://www.linkedin.com/in/fernandoporazzi", title="LinkedIn - Fernando Porazzi")
        i.i &#xf31b;

      a(href="https://www.instagram.com/fernandoporazzi/", title="Instagram - Fernando Porazzi")
        i.i &#xf31e;

  main.m
    h4 Passionate software engineer working, mainly, with Javascript on client and server.

    h4 Skills:
    ul
      li Javascript
      li NodeJS
      li React
      li Backbone
      li Gulp and Webpack
      li MongoDB
      li Stylus and Sass

    h4 Contact:
    p
      a(href="mailto:fernandoporazzi@gmail.com") fernandoporazzi@gmail.com
