<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Fernando Porazzi")
    meta(name="description", content="Passionate software engineer working, mainly, with Javascript on client and server.")
    meta(name="keywords", content="HTML,CSS,JavaScript,Software,Engineer,Node,React,Backbone,Developer,MongoDB")


    link(rel="stylesheet", href="/css/main.css")

    title Fernando Porazzi - Software engineer
  body
    .a
      block content
