$colorOne = #353535;

html
body
  margin 0
  padding 0
  font-family arial

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?93209415');
  src: url('../font/fontello.eot?93209415#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?93209415') format('woff'),
       url('../font/fontello.ttf?93209415') format('truetype'),
       url('../font/fontello.svg?93209415#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.a
  margin 0 auto
  max-width 1000px
  color $colorOne

a
  color inherit

.h
  padding 30px 0

  h1
    display inline-block
    vertical-align top
    margin 15px 0 0 10px
    font-size 20px

.p
  width 50px
  display inline-block
  margin 0 auto
  border-radius 100%

.s
  float right
  margin 17px 0 0
  a
    margin-left 10px

.i
  font-family "fontello"
  font-style normal

.m
  a
    text-decoration none
    &:hover
      text-decoration underline
